body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section.product {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    text-align: center;
}

button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #555;
}

#cart-items {
    margin: 20px;
}

#checkout-details {
    max-width: 300px;
    margin: 0 auto;
}

.product img {
  max-width: 100%;
  transition: transform 0.3s;
}

.product img.enlarged {
  transform: scale(0.5);
}

footer {
    background-color: #f8f8f8;
    padding: 20px 0;
    color: #333;
}

.footer-content {
    display: flex;
    justify-content: space-between;
}

.footer-section {
    flex: 1;
    margin-right: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}

.footer-bottom {
    text-align: center;
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #ddd;
}
.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px; /* Adjust as needed */
}

#search {
    width: 300px; /* Adjust the width as needed */
    padding: 8px 12px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

#search-btn {
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    background-color: #333; /* Button background color */
    color: #fff; /* Button text color */
}

#search-btn:hover {
    background-color: #555; /* Change button color on hover if desired */
}
