body {
    margin: 0px;
    width: 100wv;
    height: 100vh;
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-family: 'Courier New', Courier, monospace;
}

#content {
    width: 50%;
    border: 2px solid black;
    box-sizing: border-box;
    padding: 20px;
}

#generators {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    padding: 10px;
    border-bottom: 2px solid black;
}

.gen {
    width: 45%;
    display: flex;
    flex-direction: column;
}

.gen > input {
    width: 100%;
    margin-top: 5px;
    height: 30px;
}

#genmajica > button {
    background-color: rgb(217, 211, 42);
    border: none;
    margin-top: 20px;
    height: 50px;
}

#genodelo > button {
    background-color: rgb(42, 205, 217);
    border: none;
    margin-top: 20px;
    height: 50px;
}

#results {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    box-sizing: border-box;
    padding: 10px;
}

#odelores {
    width: 45%;
    display: flex;
    flex-direction: column;
}

.odelo {
    width: 100%;
    border: 1px solid black;
    margin-top: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.odelo > p {
    margin: 0px;
}

#majicares {
    width: 45%;
    display: flex;
    flex-direction: column;
}